<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="fixed-table-toolbar">
                        <input type="hidden" id="token_id" th:value="${detail?.id}" />
                        <input type="hidden" id="token_name" th:value="${detail?.tokenName}" />
                        <div class="columns pull-right">
                            <button class="btn btn-success" onclick="reLoad()">查询</button>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="searchName" type="text" class="form-control"
                                   placeholder="关键字查询"/>
                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>价格变动</h5>
                            <!--<div class="ibox-tools">-->
                                <!--<a class="collapse-link">-->
                                    <!--<i class="fa fa-chevron-up"></i>-->
                                <!--</a>-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">-->
                                    <!--<i class="fa fa-wrench"></i>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu dropdown-user">-->
                                    <!--<li><a href="graph_flot.html#">选项1</a>-->
                                    <!--</li>-->
                                    <!--<li><a href="graph_flot.html#">选项2</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <!--&lt;!&ndash;<a class="close-link">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fa fa-times"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--</div>-->
                        </div>
                        <div class="ibox-content">
                            <div style="height:520px" class="echarts" id="echarts-bar-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<!-- ECharts -->
<script src="/js/plugins/echarts/echarts-all.js"></script>
<script >
    var categoryData = new Array();
    var priceData = new Array();
    var barChart = echarts.init(document.getElementById("echarts-bar-chart"));
    var prefix = "/blockchain/token_detail";


    $(document).ready(function() {
        loadEchartData();
    });

    function loadEchartData() {
        $.ajax({
                   cache : true,
                   type : "POST",
                   url : prefix + "/list",
                   async : false,
                   error : function(request) {
                       layer.alert("Connection error");
                   },
                   success : function(data) {
                       var dtos = data.rows;
                       $.each(dtos,function(index,dto){
                           categoryData[index] = dto.statisticTime;
                           priceData[index] = (dto.usd);
                       });
                       initEcharts();
                   }
               });
    }

    function initEcharts(){
        var tokenName = $("#token_name").val();
        var baroption = {
            title : {
                text: tokenName + '币种每日价格变动表'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['币种价格']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : categoryData
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'币种价格',
                    type:'bar',
                    data: priceData,
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        barChart.setOption(baroption);
        window.onresize = barChart.resize;
    }


</script>
</body>

</html>
