<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">

                        <input id="id" name="id" type="hidden" th:value="${role?.id}" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色名称：</label>
                            <div class="col-sm-8">
                                <input id="roleName" name="roleName" class="form-control" type="text" th:value="${role?.roleName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色简介：</label>
                            <div class="col-sm-8">
                                <input id="introduce" name="introduce" class="form-control" type="text"
                                       th:value="${role?.introduce}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="functionIds" name="functionIds" class="form-control" type="hidden"/>
                            <label class="col-sm-3 control-label">菜单权限：</label>
                            <div class="col-sm-8">
                                <div id="functionTree"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-info">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script >

    var prefix = "/sys/role";
    var functionIds = '';

    $(function() {
        getMenuTreeData();
        validateRule();
    });


    $.validator.setDefaults({
                                submitHandler : function() {
                                    getAllSelectNodes();
                                    submit01();
                                }
                            });
    function submit01() {
        $('#functionIds').val(functionIds);
        $.ajax({
                   cache : true,
                   type : "POST",
                   url : prefix + "/save",
                   data : $('#signupForm').serialize(),
                   async : false,
                   error : function(request) {
                       layer.alert("Connection error");
                   },
                   success : function(data) {
                       if (data.rc == 0) {
                           parent.layer.msg("保存成功");
                           parent.reLoad();
                           var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                           parent.layer.close(index);

                       } else {
                           layer.alert(data.msg)
                       }
                   }
               });
    }

    function validateRule() {
        $("#signupForm").validate({
                                      rules : {
                                          roleName : {
                                              required : true
                                          }
                                      },
                                      messages : {
                                          roleName : {
                                              required : "请输入角色名称"
                                          }
                                      }
                                  })
    }

    function getMenuTreeData() {
        $.ajax({
                   type : "GET",
                   url : "/sys/function/role_tree?role_id=" + $("#id").val(),
                   success : function(functionTree) {
                       loadMenuTree(functionTree);
                   }
               });
    }
    function loadMenuTree(functionTree) {
        $('#functionTree').jstree({
                                  'core' : {
                                      'data' : functionTree
                                  },
                                  "checkbox" : {
                                      "three_state" : true,
                                  },
                                  "plugins" : [ "wholerow", "checkbox" ]
                              });
    }

    function getAllSelectNodes() {
        var ref = $('#functionTree').jstree(true); // 获得整个树

        functionIds = ref.get_selected(); // 获得所有选中节点的，返回值为数组

        $("#functionTree").find(".jstree-undetermined").each(function(i, element) {
            functionIds.push($(element).closest('.jstree-node').attr("id"));
        });
    }

</script>
</body>

</html>
