<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">币种名称：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.tokenName}"></p>
                            </div>
                            <label class="col-sm-2 control-label">币种编码：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.tokenCode}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">发行总量：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.totalSupply}"></p>
                            </div>
                            <label class="col-sm-2 control-label">持有者数量：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.holders}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">交易数量：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.transfers}"></p>
                            </div>
                            <label class="col-sm-2 control-label">decimals：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.decimals}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">最高价格：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.highestPrice}"></p>
                            </div>
                            <label class="col-sm-2 control-label">最低价格：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.lowestPrice}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">最高交易量：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.highestTransaction}"></p>
                            </div>
                            <label class="col-sm-2 control-label">最低交易量：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.lowestTransaction}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">ICO开始时间：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${T(com.afagoal.utils.date.DateUtils).format(token?.icoStartDate)}"></p>
                            </div>
                            <label class="col-sm-2 control-label">ICO结束时间：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${T(com.afagoal.utils.date.DateUtils).format(token?.icoEndDate)}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">发行国家：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.country}"></p>
                            </div>

                            <label class="col-sm-2 control-label">ICO总量：</label>
                            <div class="col-sm-4">
                                <p style="margin-top: 8px" th:text="${token?.totalRaised}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">ICO价格：</label>
                            <div class="col-sm-8">
                                <p style="margin-top: 8px" th:text="${token?.icoPrice}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">链接：</label>
                            <div class="col-sm-8">
                                <label th:each="link:${token?.tokenLinks}" class="radio-inline">
                                    <a target="_Blank" class="btn btn-primary" th:href="${link.linkValue}" th:text="${link.linkType}"></a>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script >
</script>
</body>

</html>
